<% layout("/layouts/boilerplate.ejs") %>
<script>
    window.mapToken = "<%= mapApiKey %>";
    window.coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
    const listingLocation = "<%= listing.location %>";
    const listingCountry = "<%= listing.country %>";
</script>
<% console.log('Geometry:', listing.geometry); %>
<div class="row mt-3">
    <div class="col-8 offset-3 mb-2">
        <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">Owned by: <i> <%= listing.owner.username %></i></p> 
            <p class="card-text"><%= listing.description %></p>    
            <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %></p>     
            <p class="card-text"><%= listing.country %></p>
            <p class="card-text"><%= listing.location %></p>
        </div>
    </div>
    <br>
    <% if(currUser && listing.owner._id.equals(currUser._id))  {%>
    <div class="btns mb-3">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button  class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    <% } %>
    <div class="col-8 offset-3 mb-2 ">
        <% if(currUser) {%>
        <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mt-3 mb-3">
                <!-- starability from github -->
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5"  class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
    <% } %>
        <% if(listing.reviews.length > 0) { %>
        <div class="row">
            <p><b>All Reviews</b></p>
            <% for(review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-3 ">
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username %></h5>
                    <p class="card-text"><%= review.comment %></p>
                    <p class="starability-result" data-rating="<%= review.rating %>"></p>
                </div>
                <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3">
                    <button class="btn btn-sm btn-dark">Delete</button>
                </form>
            </div>
            <% } %> 
        </div>
        <% } %>
    </div>
    <div class="col-8 offset-3 mb-2">
        <h3>Where you'll be</h3>
        <div id="map"></div>
    </div>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: mapToken,
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
        });
    </script>

</div>
<script type="module" src="/js/map.js"></script>

